<div class="container">
  <div class="row pt-3">
    <div class="col-md-5 mx-auto">
      <h1>Editing Book</h1>
      <% if @book.errors.any? %>
        <h3> <%= @book.errors.count %> errors prohibited this obj from being saved: </h3>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      
      
      <%= form_with model: @book do |f| %>
      
        <div class="form-group">
          <label>Title</label> <br>
          <%= f.text_field :title , class: "form-control" %>
        </div>
        
        <div class="form-group">
          <label>Opinion</label> <br>
          <%= f.text_area :body , class: "form-control" %>
        </div>
  
        <%= f.submit 'Update Book' , class: "btn btn-success" %>
      <% end %>
      
      <div class="pt-3">
        <%= link_to "Show", book_path(@book.id) %> | <%= link_to "Back", books_path %>
      </div>
    </div>
      
  </div>
</div>